{% extends 'base.html' %}
{% load static %}
{%block title%}Categories{%endblock%}
    

    {%block content%}
    <head>
        <link rel="stylesheet"
      href="{% static '/css/categories.css'%}">

    </head>
    <section class="categoriescards container flex">
        <a href="/" class="catecard">
            <div class="cateimg">
                <img src="/static/images/bread.jpg/" alt="">
            </div>
            <div class="catecardinfo flex">
                <span>1 Recipe</span>
                <h3>Bread</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
        </a>
        <a href="/" class="catecard">
            <div class="cateimg">
                <img src="/static/images/breakfast.jpg/" alt="">
            </div>
            <div class="catecardinfo flex">
                <span>4 Recipe</span>
                <h3>Breakfast</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
        </a>
        <a href="/" class="catecard">
            <div class="cateimg">
                <img src="/static/images/cookies.jpg/" alt="">
            </div>
            <div class="catecardinfo flex">
                <span>6 Recipe</span>
                <h3>Dessert</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
        </a>
        <a href="/" class="catecard">
            <div class="cateimg">
                <img src="/static/images/grill.jpg/" alt="">
            </div>
            <div class="catecardinfo flex">
                <span>7 Recipe</span>
                <h3>Grill</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
        </a>

        <a href="/" class="catecard">
            <div class="cateimg">
                <img src="/static/images/pasta.jpg/" alt="">
            </div>
            <div class="catecardinfo flex">
                <span>8 Recipe</span>
                <h3>Pasta</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
        </a>

        <a href="/" class="catecard">
            <div class="cateimg">
                <img src="/static/images/quick food.jpg/" alt="">
            </div>
            <div class="catecardinfo flex">
                <span>3 Recipe</span>
                <h3>Quick Food</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
        </a>

        <a href="/" class="catecard">
            <div class="cateimg">
                <img src="/static/images/salad.jpg/" alt="">
            </div>
            <div class="catecardinfo flex">
                <span>5 Recipe</span>
                <h3>Salad</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
        </a>

        <a href="/" class="catecard">
            <div class="cateimg">
                <img src="/static/images/bread.jpg/" alt="">
            </div>
            <div class="catecardinfo flex">
                <span>1 Recipe</span>
                <h3>Bread</h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
            </div>
        </a>
    </section>





    </div>




    
    {%endblock%}
    
</body>
</html>

