{% extends 'base.html' %}
{% load static %}


{%block title%}

My Order
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet"
  href="{% static '/css/reviews.css'%}">

</head>
<section class="categoriescards container flex">
    <div class="">
    <div class="row justify-content-center">

        {% for order in  orders%}
        <div class="col-lg-3 col-md-4 col-sm-12 mb-4 w-auto">

        <div class="tcard">
            <div class="tcarding">
                <img src="{{order.product.image.url}}" alt="">
                <span class="fa fa-star"></span>

            </div>
            <div class="tcardinfo flex">
                <!-- <label class="tlabel">pizza</label> -->
                <h2>{{order.product.title}}</h2>
                <!-- <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div> -->
                <p>{{order.product.description}}</p>
                <ul class="flex">
                    <li><i class="fa-solid fa-user"></i>{{order.product.user}}</li>
                    <li><i class="fa-regular fa-clock"></i>{{order.product.time}}</li>
                </ul>
                <a href="{% url 'recipe_detail_page' order.product.id %}" class="catecarbtn">Read More<i class="fa-solid fa-arrow-right"></i></a>
            </div>

        </div>
        </div>
        {% endfor %}
    </div>
    </div>

</section>
{%endblock%}