{% extends 'base.html' %}
{% load static %}


{%block title%}

Review
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet"
  href="{% static '/css/reviews.css'%}">

</head>
<section class="categoriescards container flex">
    <div class="filtercards flex">
        {% for i in  orders%}
        
        <div class="tcard">
            <div class="tcarding">
                <img src="/static/images/cheesepizza.jpg/" alt="">
                <span class="fa fa-star"></span>

            </div>
            <div class="tcardinfo flex">
                <label class="tlabel">pizza</label>
                <h2>Cheese Pizza</h2>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                <ul class="flex">
                    <li><i class="fa-solid fa-user"></i>by</li>
                    <li><i class="fa-regular fa-clock"></i>10 Mins</li>
                    <li><i class="fa-solid fa-heart"></i>25 Like</li>
                </ul>
                <a href="/" class="catecarbtn">Read More<i class="fa-solid fa-arrow-right"></i></a>
            </div>

        </div>
        {% endfor %}
    
        <div class="tcard">
            <div class="tcarding">
                <img src="/static/images/cookies-7.jpg/" alt="">
                <span class="fa fa-star"></span>

            </div>
            <div class="tcardinfo flex">
                <label class="tlabel">cookie</label>
                <h2>Cookies</h2>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                <ul class="flex">
                    <li><i class="fa-solid fa-user"></i>by</li>
                    <li><i class="fa-regular fa-clock"></i>10 Mins</li>
                    <li><i class="fa-solid fa-heart"></i>25 Like</li>
                </ul>
                <a href="/" class="catecarbtn">Read More<i class="fa-solid fa-arrow-right"></i></a>
            </div>

        </div>

        <div class="tcard">
            <div class="tcarding">
                <img src="/static/images/steak-food.jpg/" alt="">
                <span class="fa fa-star"></span>

            </div>
            <div class="tcardinfo flex">
                <label class="tlabel">food</label>
                <h2>Steak Food</h2>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                <ul class="flex">
                    <li><i class="fa-solid fa-user"></i>by</li>
                    <li><i class="fa-regular fa-clock"></i>10 Mins</li>
                    <li><i class="fa-solid fa-heart"></i>25 Like</li>
                </ul>
                <a href="/" class="catecarbtn">Read More<i class="fa-solid fa-arrow-right"></i></a>
            </div>

        </div>

        <div class="tcard">
            <div class="tcarding">
                <img src="/static/images/cookies-6.jpg/" alt="">
                <span class="fa fa-star"></span>

            </div>
            <div class="tcardinfo flex">
                <label class="tlabel">cookies</label>
                <h2>Cookies</h2>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                <ul class="flex">
                    <li><i class="fa-solid fa-user"></i>by</li>
                    <li><i class="fa-regular fa-clock"></i>10 Mins</li>
                    <li><i class="fa-solid fa-heart"></i>25 Like</li>
                </ul>
                <a href="/" class="catecarbtn">Read More<i class="fa-solid fa-arrow-right"></i></a>
            </div>

        </div>


    </div>

</section>
{%endblock%}